@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

span.statusOuter {
  width: 5.5rem;
  display: inline-block;
  text-align: right;
}

span.status {
  transition-property: background-color, width;
  transition-duration: 1.2s;
}

